/myvenv
*.pyc
/app/*.pyc
/app/SQLiteStudio
/app/*.zip
/app/*.xz
/app/USERINFO
/app/*.zip
/app/bootstrap-3.3.7-dist

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
