body
{
    font: 15/1.5 arial,helvetica,sans-serif;

    margin: 0;
    padding: 0;

    background: #f4f4f4;
}

.container
{
    overflow: hidden;

    width: 80%;
    margin: auto;
}
header
{
    min-height: 70px;
    padding-top: 40px;

    color: #fff;
    border-bottom: #e8491d 3px solid;
    background: #35424a;
}
header #branding
{
    float: left;
}
header a{
  font: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
ul
{
    margin: 0;
    padding: 0;
}
.current{
  padding-top: 20;
  display: inline;
  float: right;
  padding: 0 40 0 40;
}
header #branding h1
{
  margin: 0;
}
nav{
  display:inline;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
}
header a:hover{
  font-weight: bold;
  color: #ccc;

}
#firstup{
  min-height: 400px;
  text-align:center;
  color: #fff;
  background: url('../img/showcase.jpg') no-repeat 0 -400px;
}
#firstup h1
{
  margin-top:100px;
  margin-bottom: 20px;
  font-size: 40px;
}
#firstup p
{
  font-size:20px;
}

.button_1
{
    height: 38px;
    margin: 20px;
    padding-right: 40px;
    padding-left: 40px;

    color: #fff;
    border: 0;
    background: #1a22da;
}
.sign{
  text-align: center;
  background-color:#fff;
  display: inline;
    box-sizing: border-box;

}
.signh{
  box-sizing: border-box;
}
.sign label{
  text-align:left;
  padding: 0 0 0 0;


}
.signh p{
    color: rgb(185, 219, 49);
}
.sign input{


}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 400px;
  height: 500px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#Student-login-box {
  position: relative;
  margin: 10% auto;
  width: 350px;
  height: 350px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


#Admin-login-box {
  position: relative;
  margin: 5% auto;
  width: 350px;
  height: 350px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}
.highlight1
{
  color: #e8491d;
}
footer{
  padding: 20px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  color: #fff;
  background-color: #e8491d;
}




.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}
